.white {
    color: #FBFBFF;
}

.bold {
    font-weight: 700;
}

.h1 {
    font-size: clamp(24px, 5vw, 52px);
}

.h2 {
    background-color: #01BAEF;
    font-size: clamp(20px, 4vw, 40px);
    text-align: center;
    margin: 0;
}

.p {
    background-color: #0B4F6C;
    font-size: clamp(16px, 2vw, 24px);
    margin: 0;
}

.body {
    font-family: 'Allan', sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    overflow-x: hidden;
    background-color: #040F16;
}

.box {
    padding: 20px 12.5%; /* Adjust padding for top/bottom and sides */
    margin: 25px auto; /* Adjust margins as needed */
    border-radius: 10px; /* Smooth rounded edges */
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2); /* Floating effect */
}

.centered-image {
    width: 100vw;
    margin-bottom: 0;
}

.menu {
    position: fixed;
    top: 0;
    left: -250px; /* Piilotettu aluksi */
    width: 250px;
    height: 100%;
    background: #B80C09;
    color: #FBFBFF;
    padding-top: 20px;
    transition: left 0.3s ease-in-out;
}

.menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu ul li {
    padding: 15px;
    text-align: center;
}

.menu ul li a {
    color: #FBFBFF;
    background-color: #01BAEF;
    text-decoration: none;
    display: block;
}

.menu ul li a:hover {
    background: #0B4F6C;
}

.open-btn {
    position: fixed;
    top: 50%;
    left: 20px;
    transform: translateX(-50%);
    background: #B80C09;
    color: #FBFBFF;
    border: none;
    width: 40px;
    height: 40px;
    font-size: 20px;
    cursor: pointer;
    transition: left 0.3s ease-in-out, transform 0.3s ease-in-out;
}
