body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.menu {
    position: fixed;
    top: 0;
    left: -250px; /* Piilotettu aluksi */
    width: 250px;
    height: 100%;
    background: #333;
    color: white;
    padding-top: 20px;
    transition: left 0.3s ease-in-out;
}

.menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu ul li {
    padding: 15px;
    text-align: center;
}

.menu ul li a {
    color: white;
    text-decoration: none;
    display: block;
}

.menu ul li a:hover {
    background: #444;
}

#close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    color: #FBFBFF;
    font-size: 20px;
    cursor: pointer;
}

.open-btn {
    position: fixed;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    background: #B80C09;
    color: #FBFBFF;
    border: none;
    padding: 10px;
    font-size: 20px;
    cursor: pointer;
    transition: left 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.menu-open {
    left: 0;
}

.menu-open + .toggle-btn {
    right: 10px; /* Move inside */
    transform: translateY(-50%) rotate(180deg); /* Reverse arrow */
}

